# Admin files & folders that may accidentally escape
.archive
.external-licenses/dist
.vscode
.venv
utils/innosetup_windows.iss

# Caches
__pycache__/
scripts/__pycache__

# Files & folders for PyInstaller and InnoSetup shenanigans
build/
dist/

# Models saved locally for testing (not needed for setup - models download on first use)
models/openai/
models/systran/
models/openai_hf/
models/distil-whisper_hf/

# License files used for testing
utils/key.txt
utils/license.txt
